<!DOCTYPE html>
<html lang="zh-CN">
  <head>
    <meta charset="UTF-8" />
    <meta content="$keywords$" name="keywords" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="$description$" />
    <link rel="stylesheet" href="/static/style.css" />
    <title>碎语</title>
  </head>
  <body id="top">
    <a href="#top" class="back-to-top" aria-label="返回顶部">↑</a>
    <header class="site-header">
      <div class="site-title">
        <a href="/">$blog_title$</a>
      </div>
      <nav class="site-nav">
        <a href="https://memos.hyx.ink/">碎语</a>
        <a href="/about">关于</a>
      </nav>
    </header>

    <article>
      <div class="post-content">$body$</div>
    </article>
    <footer>
      <span>© $yearRange$ $author$</span>
      <a href="/feed">RSS</a>
    </footer>
    $analytics$
  </body>
</html>
